/* =======================================
============== CONTENT ===============
===================================== */

.all-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* =======================================
============== BUTTONS ===============
===================================== */

.p-title {
  text-align: center;
  font-size: 3rem;
}

.button-settings {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  text-transform: uppercase;
}

.PomodoroButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PomodoroButton-controls {
  display: flex;
}

.timeButton {
  border: none;
  color: red;
  font-size: 2rem;
  background-color: white;
  padding: 0 1rem;
}

.buttonss {
  padding: 0 1rem;
}

/* =======================================
============== Timer ===============
===================================== */

.Timer {
  margin: 2rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  border-radius: 20%;
  width: 30%;
}

#time-left {
  font-size: 3rem;
}

/* =======================================
============== CONTROLS ===============
===================================== */

.Controls {
  display: flex;
  justify-content: center;
}

.control-buttons {
  color: red;
  border: none;
  background-color: white;
  font-size: 2rem;
}