body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Styles for To Do List */ 
.todolist {
	display: flex;
	flex-direction: column;
	padding: 1.5em 0;
}

.todoitem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	padding: 1.5em;
	background: #ffffff;
	margin-bottom: 1.5em;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}
.todoitem.done {
	background-color: #F8F8F8;
}

.todoitem__title {
	color: #171717;
	font-size: 1.8em;
}
.todoitem.done .todoitem__title {
	color: #AAA;
	text-decoration: line-through;
}

.todoitem__remove {
	color: #AF1E2D;
	text-decoration: underline;
	font-size: 1.6em;
	cursor: pointer;
}
/* Styles for Pomodoro */
.settings {
  display: flex;
	justify-content: space-around;
	background: #FFCC00;
	font-size: 1.2em;
}
.SetTimer {
  display: flex;
  flex-direction: column;
	align-items: center;
	background:  #FFCC00;
}

.SetTimer-controls {
  display: flex;
  justify-content: center;
	align-items: center;
	background:  #FFCC00;
	font-size: 1.5em;
}

.Timer {
  display: flex;
  flex-direction: column;
	align-items: center;
	background:  #FFCC00;
	font-size: 1.5em;
}

.Controls {
  display: flex;
	justify-content: center;
	background: #FFCC00;
}

/* Styles for Pomodoro */

#calculator {
  height: 25.625em;
  width: 19.375em;
  margin: 3% auto 0;
  background-color: #dfd8d0;
  border: 2px solid #908b85;
  border-radius: 1.25px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68),    inset -1px -6px 12px 0.1px #89847e;
  -webkit-border-radius: 1.25px;
  -moz-border-radius: 1.25px;
  -ms-border-radius: 1.25px;
  -o-border-radius: 1.25px;
}

#title {
  text-align: center;
  padding-top: 0.625px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

#entry-box {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #b4b39d;
  border-radius: 6px;
  background-color: #c3c2ab;
  text-align: right;
}

#entry {
  margin-right: 10px;
  font-size: 31px;
}

#answer {
  margin: 0 0 10px;
}

#history {
  position: relative;
  bottom: 17px;
  margin: 0 14px 0 0;
  color: #8b8b7b;
  font-size: 12px;
}

#buttons {
  font-size: 16px;
  font-weight: bold;
  width: 280px;
  margin-top: 15px;
  margin-left: 20px;
}

button {
  font-family: inherit;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: #3a3a3a;
  height: 40px;
  width: 50px;
  margin: 0 8px 10px 8px;
  box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
  cursor: pointer;
}

button,
button:hover,
button:active,
button:visited {
  text-decoration: none !important;
  outline: none !important;
}

button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}

#acBtn,
#ceBtn {
  font-size: 16px;
  background-color: #a72d45;
  box-shadow: 0px 3px 0px 0px #671c2a;
}

#undefinedBtn {
  visibility: hidden;
}
